.container{
  min-height: 100vh;
  padding-top: 60px;
  background-color: #f3f5f7;
}

.cardContainer{
  width: 377px;
  height: 290px;
  padding: 24px 16px;
  border-radius: 8px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .16)
}
.title{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
}